
# Ignore everything
*

# Set these files to the correct language
main.cpp linguist-language=cpp
auth_server.h linguist-language=cpp
auth_server.cpp linguist-language=cpp

# Except these
!main.cpp
!auth_server.h
!auth_server.cpp


